---
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Now you have to listen to me</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          date={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
  <script>
    import "../scripts/menu.js";
  </script>
</BaseLayout>
